h1 {
    background-color: rgb(232,82,205);
    
}

img {
    width: 300px;
    height: 300px;
}

body{
    border-block: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding: 5px 10px;
}